#home-page {
  width: 100%;
  height: 100%;
  .body{
    width: 100%;
    height: ~'calc(100% - 80px)';
    display: flex;
  }
  footer {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #b5bfba;
    background-color: #e5e5e5;
  }
}
