#first-page {
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    .header {
        text-align: right;
        margin: 10px 0;
    }
    .table-box {
        width: 100%;
        position: relative;
      }
}
