#first-page {
    width: 100%;
    height: ~"calc(100% - 80px)";
    padding: 20px 40px;
    box-sizing: border-box;
    .header {
        text-align: right;
        margin-bottom: 10px;
    }
    .table-box {
        position: relative;
      }
}
